.dashboard-container {
  display: flex;
  justify-content: center;
  //   color: #666;
  .breadcrumb {
    font-size: 12px;
    padding: 20px 20px 10px 20px;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .pagination-text {
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .items-container {
    display: flex;
    flex-wrap: wrap;
    .item {
      position: relative;
      margin: 10px;
      padding: 20px;
      box-shadow: 0px 0px 5px grey;
      background-color: white;
      width: 250px;
      //   height: 250px;
      cursor: pointer;
      .liked {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 18px;
      }
      .item-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .item-img {
          position: relative;
          width: 200px;
          height: 200px;
          overflow: hidden;
          img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .item-description {
        .item-name {
          font-size: 14px;
          font-weight: 600;
          padding: 10px 0px;
          text-overflow: ellipsis;
          overflow: hidden;
          //   width: 160px;
          white-space: nowrap;
        }
        .item-quantity {
          color: #999;
          font-size: 12px;
        }
        .item-rating {
          display: flex;
          .rating {
            margin: 2px;
            padding: 2px 5px;
            font-size: 10px;
            background-color: green;
            color: white;
            border-radius: 5px;
          }
          .comment {
            color: #999;
          }
        }
      }
      .prices {
        display: flex;
        align-items: center;
        font-size: 14px;
        .selling-price {
          padding-right: 10px;
          font-weight: 900;
          font-size: 16px;
        }
        .actual-price {
          padding-right: 10px;
          color: #999;
          text-decoration: line-through;
        }
        .discount-price {
          color: green;
          font-weight: 600;
        }
      }
    }
  }
}
